@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5% ;
}

body{
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

a{
  text-decoration: none
}

.text-center{
  text-align: center;
}

.borderLight{
  border: 1px solid rgb(202, 202, 202);
  border-radius: 3px;
}


/* Navbar Menu */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
  background-color: rgb(37, 37, 37);
}

.navbar ul{
  display: flex;
  list-style: none;
}

.navbar ul li{
  padding: 0 3rem;
}

.navbar ul li a{
  font-size: 2rem;
  display: block;
  color: #fff;
  font-weight: bold;
}

.title{
  font-size: 3rem;
  color: #fff;
}

.githubIcon{
  margin-right: 1.3rem;
}

/* Home Page */
.searchComp{
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  text-align: center;
  margin: 10rem 0 4rem 0;
}

.searchComp input[type=text]{
  padding: 1.5rem 1.2rem;
  width: 100%;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 3px;
  font-size: 2.2rem;
}

.searchComp input[type=text]:focus{
  outline-color: rgba(45,164,78,255);
}

.searchComp input[type=submit]{
  padding: 1rem 3.3rem;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  background-color:rgb(37, 37, 37);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Users Page */
.displayUserItem{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 3rem 3rem;
  margin: 0 10% 6rem 10%;
}

/* UserItem Page */
.userCard{
  width: 100%;
  text-align: center;
  border: 1px solid rgb(202, 202, 202);
  padding: 3rem 0;
  border-radius: 1rem;
  font-size: 2.2rem;
  line-height: 2.2;
}

.userCard img {
  width : 10rem;
  border-radius: 50%;
}

.userCard a{
  color: #fff;
  font-size: 1.7rem;
  border-radius: 3px;
  background-color: rgba(45,164,78,255);
  padding: 0.5rem 1.2rem;
  font-weight: bold;
}

/* User Page */
.userComp{
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  padding-bottom: 3rem;
}
.backToSearchBth{
  font-size: 1.5rem;
}

.backToSearchBth a{
  display: inline-block;
  background: rgba(45,164,78,255);
  margin : 2rem 1.7rem 2rem 0;
  padding: 0.8rem 1.8rem;
  color: #fff;
}

.userBio{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 0;
  align-items: center;
  margin-bottom: 1.8rem;
}

.userBio h2{
  font-size: 2.5rem;
  line-height: 2;
}

.userBio h4{
  font-size: 1.4rem;
  font-weight: lighter;
}

.userBio p{
  font-size: 1.6rem;
  line-height: 1.7;
}

.userBio a{
  font-size: 1.5rem;
  background: rgb(37, 37, 37);
  color: #fff;
  padding: 1rem 1.5rem;
  display: inline-block;
  margin: 1rem 0;
}

.userBio img{
  border-radius: 50%;
  width: 15rem;
  margin-bottom: 0.8rem;
}

.showBadge{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  margin-bottom: 1.8rem;
}

.badge{
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 3px;
}

.followers{
  background: rgb(223, 55, 55);
  color: #fff;
}

.following{
  background: rgb(53, 206, 111);
  color: #fff;
}

.public_repos{
  background: rgb(190, 190, 190);
  color: #000;
}

.public_gists{
  background: rgb(37, 37, 37);
  color: #fff;
}

.repoItemComp{
  padding: 1.8rem 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.repoItemComp a{
  color: rgb(37, 37, 37) 
}

/* About Page */
.aboutComp{
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  font-size: 2rem;
  line-height: 1.7;
  place-items: center;
  margin-top: 6rem;
}

.aboutComp ul{
  margin: 2rem 0 0 7rem;

}

.spinnerComp{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clearBtn{
  padding: 1rem 4.2rem;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  background-color:rgb(228, 228, 228);
  color: #000;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.alertComp{
  text-align: left;
  margin: 0 0 2rem 0;
}

.alertComp p{
  display: inline-block; 
  font-size: 1.7rem;
  background-color: rgb(255, 189, 189);
  padding: 1rem 1rem;
  border-radius: 3px;
}

.alertComp{
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

@media screen and (max-width: 768px){
  .searchComp{
    grid-template-columns: 1fr;
    padding: 0 10%;
  }

  .displayUserItem{
    grid-template-columns: 1fr 1fr;
    margin: 0 5% 6rem 5%;
  }

  .userComp{
    grid-template-columns: 1fr;
    margin: 0 3%;
  }
  
  .userBio{
    grid-template-columns: 1fr;
  }

  .text-center-small-device{
    margin-top: 1.5rem;
    text-align: center;
  }
}